<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>登录</title>
    <link href="/bootstrap.css" rel="stylesheet"/>
</head>
<body>
<form id="form" method="post">
   <label>用户名：</label><input type="text" name="username" value=""/>
   <label>密码：</label><input type="password" name="passord" value=""/>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
   <br/>
   <input type="submit" value="登录"/>
</form>

</body>
</html>